#division {
  border:2px solid black;
  border-radius: 20px;
  margin:20px;
  width:40%;
  float: left;
  align-items: center;
  text-align: center;

}
img {
  height:250px;
  width:400px;
  margin-top: 10px;


}
span {
  margin:5px;
}
p {
  text-align: center;
  line-height: 7px;
}