div{
    line-height: 30px; 
    background-color: lightgoldenrodyellow; 
    width: 16%;
    float: left;
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
    text-align: center;
}

fieldset{
    margin: 10px;
    border: 2px solid grey;
    width: 90%;
    padding: 10px;
}

i{
    font-size: 20px;
    margin: 10px;
}